h1 {
    font-size : 2em;
}

.target {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background: green;
}

.scoreChild {
    height: 50%;
    width: 100%;
}


#container {
    margin: auto;
    /* margin-top: 20px; */
    /* width : 1111px; */
    min-height: 610px;
    min-width: 610px;
    width: 80%;
    height: 90%;
    padding: 0;
}

#play {
    padding : 0;
    /* width : 759px; */
    width : 70%;
}

#score {
    /* width : 350px; */
    width: 30%;
}

#score div:first-of-type{
    background-color:gray;
}

#score div:nth-of-type(2){
    background-color:gray;
}

#modal {
    height : 200px;
    width : 200px;
    background-color : gray;
    margin: auto;
    display : none;
    padding: 10px;
}

#modal div{
    height : 80%;
    padding : 50px 10px 10px 10px;
    font-size : 2em;
}

#modal button{
    height : 20%;
    width : 100%;
    border: none;
}

#timer {
    font-size : 2em;
}

#span-target{
    color : green;
}